body{
    height: 100%;
    width: 100%;
    background-color: black;
}

.mySideNav{
    background-color: rgb(68, 66, 66);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    max-width: 9%;
    position: fixed;
}

.menu{
    max-width: 90%;
    text-decoration: none;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 35pt;
    cursor: pointer;
    position: relative;
}

.menu i {
    color: white;
}

.active i{
    color: orange;
}

.menu i:hover {
    color: orange;
    opacity: 0.8;
}

.language{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language img{
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 30%;
}

.logo{
    width: 80%;
    margin: 10%;
}

.logo img{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    color: white;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.pagetitle{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.pagetitle-child{
    color: orange;
}

.homeInfo {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 5%;
}

.homeInfo>:first-child {
    background-color: orange;
    border-radius: 5rem;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 25pt;
}

.typing-demo {
    border-right: 3px solid orange;
    font-size: 46pt;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    width: 20.5ch;
    animation: type2 2s steps(40, end),
    blink-caret .75s step-end infinite;
    animation-delay: 1s;
}

@keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: .15em solid orange;
    }
    100% {
        opacity: 1;
        border: orange;
    }
}

.homeInfo>:nth-child(3) {
    color: orange;
    opacity: .7;
    font-size: 20pt;
}

.homeInfo>:nth-child(4) {
    color: white;
    font-size: 22pt;
    width: 70ch;
    text-align: center;
}


/* ------------------ HOME SOCIAL MEDIA ------------------ */

.socialmedia {
    display: flex;
    justify-content: center;
    margin-left: 5%;
}

.wrapper{
    display:inline-flex;
    margin-top: 6rem;
    
}

.wrapper .icon{
    margin: 0 20px;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    position: relative;
    z-index:2;
}
.wrapper .icon span{
    position:relative;
    z-index:2;
    height: 60px;
    width: 60px;
    display:block;
    background: white;
    border-radius:50%;
    text-align:center;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span i{
    font-size:25px;
    line-height:60px;
    color: black;
}
.wrapper .icon .tooltip{
    position:absolute;
    top:0px;
    background: black;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    color: black;
    opacity:0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip{
    opacity:1;
    pointer-events: auto;
    top:-70px;
}
.wrapper .icon .tooltip:before{
    position:absolute;
    content:"";
    height:15px;
    width:15px;
    bottom:-8px;
    left:50%;
    transform: translateX(-50%) rotate(45deg);
}
.wrapper .icon:hover span,
.wrapp .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.wrapper .icon:hover span{
    color: #fff;
}

.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before{
    background:#3B5999;
}
.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip:before{
    background:#46C1F6;
}
.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before{
    background:#888888;
}
.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%)
}

.wrapper .linkedin:hover span,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip:before{
    background:#0073B1;
}

.wrapper .whatsapp:hover span,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip:before{
    background:#47C355;
}

.wrapper .discord:hover span,
.wrapper .discord:hover .tooltip,
.wrapper .discord:hover .tooltip:before{
    background:#8899F7;
}

.wrapper .mail:hover span,
.wrapper .mail:hover .tooltip,
.wrapper .mail:hover .tooltip:before{
    background:#F27145;
}




/* ------------------ PROJECTS ------------------ */

.projects-page {
    color: white;
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2rem;
    align-items: stretch;
    justify-content: center;
}

.grid > article {
    border: 1px solid orange;
    box-shadow: 2px 2px 6px 4px orange;
    text-align: center;
    margin: 0.5rem;
}

.grid > article img {
    max-width: 100%;
}

.grid > article input {
    background-color: orange;
    color: white;
    border-radius: 1rem;
    height: 3rem;
    cursor: pointer;
    margin-top: 1rem;
}

.grid > article input:hover {
    opacity: 0.8;
    background-color: rgb(194, 126, 0);
}

.grid > article i {
    font-size: 25pt;
    line-height: 3rem;
    height: 3rem;
    width: 3rem;
    border: 4px solid white;
    border-radius: 50%;
    background-color: orange;
    text-align: center;
    color: white;
    margin-top: -2rem;
}

.grid > article h3 {
    color: orange;
}

.grid .text {
    padding: 16px 20px 30px;
}

.grid .btn {
    margin-top: 20px;
}



/* ------------------ SKILLS ------------------ */

.skills {
    margin-top: 2%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

/* ------------------ CONTACT ------------------ */

.contactform{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-top: 1%;
}

form {
    padding: 5rem 0 3rem 0;
    margin: 2rem 3rem 1rem 5rem;
    border: 2px solid orange;
    border-radius: 2rem;
    position:relative;
    z-index:1;
}

form > div{
    position:absolute;
    top:0;
    left:50%;
    padding:0 20px;
    transform:translate(-50%,-50%);
    background-color:black;
    border: 2px solid orange;
    border-radius: 2rem;
}

form > div > img{
    filter:invert(1);
    max-width:7rem;
}

form > input,
form > textarea{
    padding: 1rem;
    margin: 1rem;
    border: 1px solid orange;
    color: white;
    background-color: #222;
    border-radius: 1rem;
    display: block;
    width: 70vw;
}

form > textarea{
    height:4rem;
    resize:none;
}

form > span{
    max-width: 20vw;
    padding-left: 3%;
    color: red;
}

form > input[type='submit'] {
    max-width: 20vw;
    padding: 1%;
    cursor: pointer;
    transition: 0.35s;
    
}

form > input[type='submit']:hover {
    background-color: #555;
}


/* ------------------ RESPONSIVE ------------------ */

@media screen and (max-width:1360px) {

    .mySideNav{
        max-width: 10%;
    }
    .homeInfo>:nth-child(4) {
        width: 50ch;
    }

    .skills{
        display: grid;
        place-items: end;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .skills img{
        max-width: 6rem;
    }
    
}

@media screen and (max-width:1190px) {

    .mySideNav{
        max-width: 11%;
    }

    .skills{
        display: grid;
        place-items: end;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .skills img{
        max-width: 6rem;
    }
}

@media screen and (max-width:1128px) {


    .skills{
        display: grid;
        place-items: center;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .skills img{
        max-width: 6rem;
    }
}

@media screen and (max-width:1060px) {

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        max-width: 70%;
    }

    .homeInfo>:nth-child(1) {
        font-size: 22pt;
    }

    .homeInfo>:nth-child(4) {
        width: 40ch;
    }

    .typing-demo{
        font-size: 33pt;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }

}


@media screen and (max-width:1000px) {

    .mySideNav{
        max-width: 12%;
    }

    .homeInfo>:nth-child(1) {
        font-size: 20pt;
    }

    .homeInfo>:nth-child(4) {
        width: 30ch;
    }

    .typing-demo{
        font-size: 35pt;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        max-width: 70%;
    }

    form {
        margin: 1rem 2rem 1rem 5rem;
        padding: 5rem 0 0 0;
    }

}

@media screen and (max-width:950px) {

    .menu {
        font-size: 30pt;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width:768px) {

    .mySideNav{
        max-width: 14%;
    }

    .menu {
        font-size: 25pt;
    }

    .homeInfo>:nth-child(1) {
        font-size: 17pt;
    }

    .homeInfo>:nth-child(3) {
        font-size: 18pt;
    }

    .homeInfo>:nth-child(4) {
        font-size: 20pt;
    }

    .typing-demo{
        font-size: 25pt;
    }

    form > div{
        padding:0 15px;
    }
    
    form > div > img{
        filter:invert(1);
        max-width:7rem;
    }
    
    form > input,
    form > textarea {
        padding: 1rem;
        margin: 1.5rem;
        width: 60vw;
    }
    
    form > input[type='submit'] {
        max-width: 30vw;
        padding: 3%;
        
    }
}

@media screen and (max-width:610px) {

    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .menu {
        font-size: 22pt;
    }

    .homeInfo>:nth-child(1) {
        font-size: 15pt;
    }

    .homeInfo>:nth-child(3) {
        font-size: 15pt;
    }

    .homeInfo>:nth-child(4) {
        font-size: 17pt;
        width: 25ch;
    }

    .typing-demo{
        font-size: 22pt;
    }

    .wrapper .icon span{
        
        height: 50px;
        width: 50px;
    }
    .wrapper .icon span i{
        font-size:25px;
        line-height:50px;
    }
}

@media screen and (max-width:520px) {

    .pagetitle h1{
        font-size: 40pt;
    }

    .mySideNav{
        max-width: 15%;
    }

    .homeInfo>:nth-child(1) {
        font-size: 13pt;
    }

    .homeInfo>:nth-child(3) {
        font-size: 13pt;
    }

    .homeInfo>:nth-child(4) {
        font-size: 15pt;
    }

    .typing-demo{
        font-size: 20pt;
    }
}

@media screen and (max-width:480px) {

    .homeInfo>:nth-child(1) {
        font-size: 11pt;
    }

    .homeInfo>:nth-child(3) {
        font-size: 11pt;
    }

    .homeInfo>:nth-child(4) {
        font-size: 13pt;
    }

    .typing-demo{
        font-size: 17pt;
        width: 20.5ch;
    }
}

@media screen and (max-width:410px) {

    .homeInfo>:nth-child(1) {
        font-size: 11pt;
    }

    .homeInfo>:nth-child(3) {
        font-size: 11pt;
    }

    .homeInfo>:nth-child(4) {
        font-size: 13pt;
    }

    .typing-demo{
        font-size: 15pt;
    }
}

@media screen and (max-width:391px) {


    form > div{
        padding:0 10px;
    }
    
    form > div > img{
        filter:invert(1);
        max-width:6rem;
    }
    
    form > input,
    form > textarea {
        width: 50vw;
    }

    .wrapper .icon span{
        
        height: 40px;
        width: 40px;
    }
    .wrapper .icon span i{
        font-size:20px;
        line-height:40px;
    }
}

@media screen and (max-width:281px) {

    .pagetitle h1{
        font-size: 25pt;
    }

    .menu{
        font-size: 15pt;
    }

    .pagetitle{
        font-size: 15pt;
    }

    .container {
        width: 89%;
        justify-content: flex-end;
    }

    .homeInfo>:nth-child(1) {
        font-size: 10pt;
    }

    .homeInfo>:nth-child(3) {
        font-size: 9pt;
    }

    .homeInfo>:nth-child(4) {
        font-size: 11pt;
        width: 22ch;
    }

    .typing-demo{
        font-size: 11pt;
    }
}